{% extends 'base_layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container ml-20">
        <h1 class="text-5xl text-left pt-10">Dashboard</h1>
        <div class="container mt-20 border-2 border-gray">
            <div>
                <div>Nombre d'entraînements : {{ count_training }}</div>
                {% if count_training > 0 %}
                    <div class="">
                        <div class="">Dernier entraînement : le {{ last_training.date|date:'d M y' }}</div>
                    </div>
                {% endif %}
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Entrainement</th>
                            <th scope="col">Données</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for program, training in datas_list %}
                                <td>{{ program.name }}</td>
                                <td>
                                    <div class="my-5">
                                        <a href="{% url 'training' program.id %}">GO !</a>
                                    </div>
                                </td>

                                <td>
                                    <div class="my-5 border border-black">
                                        <a href="{% url 'training_list' training.id %}">Voir les données</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
