{% extends 'base_layout.html' %}
{% block title %}Bibliothèque de programme{% endblock %}
{% block content %}
    <div class="container ml-20">
        <h1 class="text-5xl text-left pt-10">Bibliothèque</h1>
        <h2 class="text-3xl my-10">Programmes publiques</h2>
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
            <div class="border">
                {% for program in program_list %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="my-5">
                            {{ program.name }}
                            <button type="submit" name="add-program" value="{{ program.id }}">
                                <i class="fa-solid fa-pen fa-2xl"></i>
                            </div>
                        </form>
                    {% empty %}
                        Aucun programme disponible
                    {% endfor %}
                </div>
            </div>
            <h2 class="text-3xl my-10">Mes programmes</h2>
            <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3">
                <div class="border">
                    {% for owner_program in owner_list %}
                        <div class="my-5">{{ owner_program.name }}</div>
                    {% empty %}
                        Aucun programme disponible
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
