{% extends 'base_layout.html' %}
{% block title %}Sommaire programme{% endblock %}
{% block content %}
    <h1>Exercises du programme</h1>
    <div>
        <form>
            {% for exercise in exercises_list %}
                <div class="card mb-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ exercise.name }}</h5>
                        <a href="#" class="btn btn-primary">Aller à l'exercice</a>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-3">Terminer l'entraînement</button>
        {% endblock %}
    </form>
</div>
