{% extends 'base_layout.html' %}
{% block title %}Sommaire programme{% endblock %}
{% block content %}
    <div class="container ml-20">
        <h1 class="text-5xl pt-10">Exercises du programme</h1>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Exercice</th>
                            <th scope="col">Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for exercise in exercises_list %}
                                <td>{{ exercise.name }}</td>
                                <td>
                                    {% if exercise.id in is_done %}
                                        <span class="">Exercice effectué</span>
                                    {% else %}
                                        <a href="{% url 'exercise' exercise.id %}"
                                           class="">Démarrer l'exercice</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary">Terminer l'entraînement</button>
            {% endblock %}
        </form>
    </div>
</div>
