{% extends 'base_layout.html' %}
{% block title %}Sommaire programme{% endblock %}
{% block content %}
    <div class="container ml-20">
        <h1 class="text-5xl pt-10">Exercises du programme</h1>
        <div>
            <form>
                {% for exercise in exercises_list %}
                    <div class="border-2 m-2" style="width: 18rem;">
                        <div class="flex">
                            <h5 class="">{{ exercise.name }}</h5>
                            <a href="{% url 'exercise' exercise.id %}"
                               class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-2 rounded">Aller à l'exercice</a>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="mb-3 bg-blue-300 rounder-full">Terminer l'entraînement</button>
            {% endblock %}
        </form>
    </div>
</div>